<div id="contents">

	<h2>T2payでYoutuberのファンになる</h2>

	<p>T2payは駆け出しのYoutuberを応援する/される</br>ことができるサービスです</p>

	<h2>はじめての方へ</h2>

	<p>T2payではお気に入りのYoutuberに投げ銭をして</br>応援することができるサービスです。</br>投げ銭をするとトークンが貰え、</br>これを使って特別なコンテンツを見たりできます。</p>

	<h2>人気の駆け出しYoutuber</h2>

	<p>これからきっとブレイクしそうな駆け出しのYoutuberを探してみて下さい。</p>

	<h2>駆け出そう！</h2>

	<p>あなたもYoutuberとしてT2payでファンを作りませんか？</p>

	<h2>早い者勝ち！</h2>

	<p>T2payでは早くファンになった人ほど沢山の</br>プレミアムコンテンツが見れるシステムになっています。</br>自分が本当に好きなYoutuberは早くから応援しましょう。</p>

</div>

<div id="footer">
	<p id="copyright"> T2pay</p>
