<link href="createrpage_index.css" rel="stylesheets"></link>
<title>Createrpage</title>
<center>
<h1>クリエイターを探す</h1>
<form action="cgi-bin/example.cgi" method="post">
  <input type="search" name="search" size="60" placeholder="クリエイターを検索">
  <input type="submit" name="submit" value="検索" size="30" >
</form>

<h1>あなたへのコメント</h1>
  <iframe align="left" width="560" height="315" src="https://www.youtube.com/embed/8UTjY7PSidI" frameborder="0" allowfullscreen></iframe>
<iframe align="right" width="560" height="315" src="https://www.youtube.com/embed/8UTjY7PSidI" frameborder="0" allowfullscreen></iframe>
</div>
